%td.request__state
  - if support.done?
    .image
      = image_tag('i/status-done.png')
  - else
    .image
      = image_tag('i/status-new.png')
%td.request__date
  = support.updated_at
%td.request__topic
  = support.topic
%td.request__body
  - if support.body
    = support.body[0..130]
  = link_to "Read all (#{support.comments_count})", support
%td.request__receiver
  = link_to support.receiver, user_path(support.receiver)
%td.request__user
  = link_to support.user, user_path(support.user)
