%td.request__state
  .image
    = image_tag("i/status-#{support.done? ? 'done' : 'new'}.png")
%td.request__date
  = support.updated_at
%td.request__topic
  = support.topic
%td.request__body
  = support.truncated_body
  = link_to "View problem (#{pluralize(support.comments_count, 'comment')})", support
%td.request__receiver
  = link_to support.receiver, user_path(support.receiver)
%td.request__user
  = link_to support.user, user_path(support.user)
