.container
  .row
    %h2 All requests
  .row

    %table.request
      = simple_form_for search_form, url: request.url, method: :get do |f|
        %tr.request
          %td.request__state
            = f.input :state, collection: search_form.states, as: :radio_buttons, checked: search_form.get_state
          %td.request__date
          %td.request__topic
            = f.input :topic_id, collection: search_form.topics
          %td.request__problem
            = f.input :body
          %td.request__receiver
            = f.input :receiver_id, collection: search_form.users
          %td.request__user
            = f.input :user_id, collection: search_form.users
        %tr.request__header
          %td
          %td
          %td
          %td
            = f.submit 'Search'
    %table.request
      %tr.request__header.request__list
        %td.request__state State:
        %td.request__date Updated:
        %td.request__topic Topic:
        %td.request__problem Problem:
        %td.request__receiver Asked by:
        %td.request__user Assigned to:

      - supports.each_with_index do |support, i|
        %tr.request__list
          = render 'list', support: support, index: i
  .row
    .request
      %p= page_entries_info supports
      %p= will_paginate supports, container: false
