.container
  .row
    %h2 All requests
  .row

    %table.request
      = simple_form_for :query, url: request.url, method: :get do |f|
        %tr.request
          %td.request__state
            = f.collection_radio_buttons :search_state, [['all', 'All'] ,['done', 'Done'], ['notdone', 'Not done']], :first, :last, checked: search_state.present? ? search_state : 'all'
          %td.request__date
          %td.request__topic
            = f.input :search_topic, label: 'Topic:', required: false, input_html: { value: search_topic }
          %td.request__problem
            = f.input :search_problem, label: 'Problem:', required: false, input_html: { value: search_problem }
          %td.request__receiver
            = f.input :search_receiver, label: 'Asked by:', required: false, input_html: { value: search_receiver }
          %td.request__user
            = f.input :search_user, label: 'Assigned to:', required: false, input_html: { value: search_user }
        %tr.request__header
          %td
          %td
          %td
          %td
            = f.submit 'Search'

    %table.request
      %tr.request__header.request__list
        %td.request__state State:
        %td.request__date Updated:
        %td.request__topic Topic:
        %td.request__problem Problem:
        %td.request__receiver Asked by:
        %td.request__user Assigned to:
      - supports.each_with_index do |s, i|
        %tr.request__list
          =render 'list', support: s, index: i
  .row
    .request
      %p= page_entries_info supports
      %p= will_paginate supports, :container => false
