.container
  .row
    %h2 All requests
  .row

    %table.request
      = simple_form_for search_form, url: request.url, method: :get do |f|
        %tr.request
          %td.request__column
            = f.input :state, collection: search_form.states, as: :radio_buttons, checked: search_form.state
          %td.request__column
          %td.request__column
            = f.input :topic_id, collection: search_form.topics
          %td.request__body
            = f.input :body
          %td.request__column
            = f.input :receiver_id, collection: search_form.users
          %td.request__column
            = f.input :user_id, collection: search_form.users
        %tr.request__header
          %td
          %td
          %td
          %td
            = f.submit 'Search'
    %table.request
      %thead
        %tr.request__header.request__list
          %th.request__column State:
          %th.request__column Updated:
          %th.request__column Topic:
          %th.request__body Problem:
          %th.request__column Asked by:
          %th.request__column Assigned to:
      %tbody
        - supports.each_with_index do |support, i|
          %tr.request__list
            = render 'list', support: support, index: i
  .row
    .request
      %p= page_entries_info supports
      %p= will_paginate supports, container: false
